<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                        Forms
                    </h1>
                    <div class="page-header-subtitle">Dynamic form components to give your users informative and intuitive inputs</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-lg-9">
            <!-- Default Bootstrap Form Controls-->
            <div id="default">
                <div class="card mb-4">
                    <div class="card-header">Default Bootstrap Form Controls</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1">Email address</label>
                                        <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlSelect1">Example select</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlSelect2">Example multiple select</label>
                                        <select class="form-control" id="exampleFormControlSelect2" multiple="">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="mb-0">
                                        <label for="exampleFormControlTextarea1">Example textarea</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="formsDefaultTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="formsDefaultHtmlTab" data-bs-toggle="tab" href="#formsDefaultHtml" role="tab" aria-controls="formsDefaultHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="formsDefaultPugTab" data-bs-toggle="tab" href="#formsDefaultPug" role="tab" aria-controls="formsDefaultPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="formsDefaultHtml" role="tabpanel" aria-labelledby="formsDefaultHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><form>
<div class="mb-3"><label for="exampleFormControlInput1">Email address</label><input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com"></div>
<div class="mb-3">
<label for="exampleFormControlSelect1">Example select</label><select class="form-control" id="exampleFormControlSelect1">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
</div>
<div class="mb-3">
<label for="exampleFormControlSelect2">Example multiple select</label><select class="form-control" id="exampleFormControlSelect2" multiple="">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
</div>
<div class="mb-0"><label for="exampleFormControlTextarea1">Example textarea</label><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
</form></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="formsDefaultPug" role="tabpanel" aria-labelledby="formsDefaultPugTab">
                                        <pre class="language-pug"><code>form
.mb-3
label(for='exampleFormControlInput1') Email address
input#exampleFormControlInput1.form-control(type='email', placeholder='name@example.com')
.mb-3
label(for='exampleFormControlSelect1') Example select
select#exampleFormControlSelect1.form-control
option 1
option 2
option 3
option 4
option 5
.mb-3
label(for='exampleFormControlSelect2') Example multiple select
select#exampleFormControlSelect2.form-control(multiple='')
option 1
option 2
option 3
option 4
option 5
.mb-0
label(for='exampleFormControlTextarea1') Example textarea
textarea#exampleFormControlTextarea1.form-control(rows='3')
</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">The default Bootstrap form control states have been restyled to fit the Simple UX theme. The style has changed, but the markup is identical.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Solid Form Controls-->
            <div id="solid">
                <div class="card mb-4">
                    <div class="card-header">Custom Solid Form Controls</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1">Email address</label>
                                        <input class="form-control form-control-solid" id="exampleFormControlInput1" type="email" placeholder="name@example.com" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlSelect1">Example select</label>
                                        <select class="form-control form-control-solid" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlSelect2">Example multiple select</label>
                                        <select class="form-control form-control-solid" id="exampleFormControlSelect2" multiple="">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="mb-0">
                                        <label for="exampleFormControlTextarea1">Example textarea</label>
                                        <textarea class="form-control form-control-solid" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="formsSolidTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="formsSolidHtmlTab" data-bs-toggle="tab" href="#formsSolidHtml" role="tab" aria-controls="formsSolidHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="formsSolidPugTab" data-bs-toggle="tab" href="#formsSolidPug" role="tab" aria-controls="formsSolidPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="formsSolidHtml" role="tabpanel" aria-labelledby="formsSolidHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><form>
<div class="mb-3"><label for="exampleFormControlInput1">Email address</label><input class="form-control form-control-solid" id="exampleFormControlInput1" type="email" placeholder="name@example.com"></div>
<div class="mb-3">
<label for="exampleFormControlSelect1">Example select</label><select class="form-control form-control-solid" id="exampleFormControlSelect1">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
</div>
<div class="mb-3">
<label for="exampleFormControlSelect2">Example multiple select</label><select class="form-control form-control-solid" id="exampleFormControlSelect2" multiple="">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
</div>
<div class="mb-0"><label for="exampleFormControlTextarea1">Example textarea</label><textarea class="form-control form-control-solid" id="exampleFormControlTextarea1" rows="3"></textarea></div>
</form></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="formsSolidPug" role="tabpanel" aria-labelledby="formsSolidPugTab">
                                        <pre class="language-pug"><code>form
.mb-3
label(for='exampleFormControlInput1') Email address
input#exampleFormControlInput1.form-control.form-control-solid(type='email', placeholder='name@example.com')
.mb-3
label(for='exampleFormControlSelect1') Example select
select#exampleFormControlSelect1.form-control.form-control-solid
option 1
option 2
option 3
option 4
option 5
.mb-3
label(for='exampleFormControlSelect2') Example multiple select
select#exampleFormControlSelect2.form-control.form-control-solid(multiple='')
option 1
option 2
option 3
option 4
option 5
.mb-0
label(for='exampleFormControlTextarea1') Example textarea
textarea#exampleFormControlTextarea1.form-control.form-control-solid(rows='3')
</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                Custom solid form controls have been developed as an alternative to the default form styling. Use them by appending the
                                <code>.form-control-solid</code>
                                to the normal
                                <code>.form-control</code>
                                class.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Custom Checkboxes and Radio-->
            <div id="checkbox">
                <div class="card mb-4">
                    <div class="card-header">Custom Checkboxes &amp; Radio</div>
                    <div class="card-body">
                        <h6 class="small text-muted fw-500">Bootstrap Custom Checkboxes:</h6>
                        <div class="sbp-preview mb-4">
                            <div class="sbp-preview-content">
                                <div class="form-check">
                                    <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="" />
                                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="flexCheckChecked" type="checkbox" value="" checked />
                                    <label class="form-check-label" for="flexCheckChecked">Checked checkbox</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="flexCheckDisabled" type="checkbox" value="" disabled />
                                    <label class="form-check-label" for="flexCheckDisabled">Disabled checkbox</label>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="formsCheckboxesTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="formsCheckboxesHtmlTab" data-bs-toggle="tab" href="#formsCheckboxesHtml" role="tab" aria-controls="formsCheckboxesHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="formsCheckboxesPugTab" data-bs-toggle="tab" href="#formsCheckboxesPug" role="tab" aria-controls="formsCheckboxesPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="formsCheckboxesHtml" role="tabpanel" aria-labelledby="formsCheckboxesHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><div class="form-check">
<input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
<label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
</div>
<div class="form-check">
<input class="form-check-input" id="flexCheckChecked" type="checkbox" value="" checked">
<label class="form-check-label" for="flexCheckChecked">Checked checkbox</label>
</div>
<div class="form-check">
<input class="form-check-input" id="flexCheckDisabled" type="checkbox" value="" disabled>
<label class="form-check-label" for="flexCheckDisabled">Disabled checkbox</label>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="formsCheckboxesPug" role="tabpanel" aria-labelledby="formsCheckboxesPugTab">
                                        <pre class="language-pug"><code>.form-check
input#flexCheckDefault.form-check-input(type='checkbox', value='')
label.form-check-label(for='flexCheckDefault')
| Default checkbox
.form-check
input#flexCheckChecked.form-check-input(type='checkbox', value='', checked)
label.form-check-label(for='flexCheckChecked')
| Checked checkbox
.form-check
input#flexCheckDisabled.form-check-input(type='checkbox', value='', disabled)
label.form-check-label(for='flexCheckDisabled')
| Disabled checkbox</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">Bootstrap's custom checkbox styling has been modified for the Simple UX theme.</div>
                        </div>
                        <h6 class="small text-muted fw-500">Bootstrap Custom Radio:</h6>
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="form-check">
                                    <input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault" />
                                    <label class="form-check-label" for="flexRadioDefault1">Default radio</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked />
                                    <label class="form-check-label" for="flexRadioDefault2">Default checked radio</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="flexRadioDefault3" type="radio" name="flexRadioDefault" disabled />
                                    <label class="form-check-label" for="flexRadioDefault3">Default disabled radio</label>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="formsRadioTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="formsRadioHtmlTab" data-bs-toggle="tab" href="#formsRadioHtml" role="tab" aria-controls="formsRadioHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="formsRadioPugTab" data-bs-toggle="tab" href="#formsRadioPug" role="tab" aria-controls="formsRadioPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="formsRadioHtml" role="tabpanel" aria-labelledby="formsRadioHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><div class="form-check">
<input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault">
<label class="form-check-label" for="flexRadioDefault1">Default radio</label>
</div>
<div class="form-check">
<input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked">
<label class="form-check-label" for="flexRadioDefault2">Default checked radio</label>
</div>
<div class="form-check">
<input class="form-check-input" id="flexRadioDefault3" type="radio" name="flexRadioDefault" disabled>
<label class="form-check-label" for="flexRadioDefault3">Default disabled radio</label>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="formsRadioPug" role="tabpanel" aria-labelledby="formsRadioPugTab">
                                        <pre class="language-pug"><code>.form-check
input#flexRadioDefault1.form-check-input(type='radio', name='flexRadioDefault')
label.form-check-label(for='flexRadioDefault1')
| Default radio
.form-check
input#flexRadioDefault2.form-check-input(type='radio', name='flexRadioDefault', checked)
label.form-check-label(for='flexRadioDefault2')
| Default checked radio
.form-check
input#flexRadioDefault3.form-check-input(type='radio', name='flexRadioDefault', disabled)
label.form-check-label(for='flexRadioDefault3')
| Default disabled radio</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">Bootstrap's custom radio styling has also been modified for the Simple UX theme.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Solid Checkbox and Radio Styling-->
            <div id="checkboxSolid">
                <div class="card mb-4">
                    <div class="card-header">Solid Checkboxes &amp; Radio</div>
                    <div class="card-body">
                        <h6 class="small text-muted fw-500">Custom Solid Checkboxes:</h6>
                        <div class="sbp-preview mb-4">
                            <div class="sbp-preview-content">
                                <div class="form-check form-check-solid">
                                    <input class="form-check-input" id="flexCheckSolidDefault" type="checkbox" value="" />
                                    <label class="form-check-label" for="flexCheckSolidDefault">Default checkbox</label>
                                </div>
                                <div class="form-check form-check-solid">
                                    <input class="form-check-input" id="flexCheckSolidChecked" type="checkbox" value="" checked />
                                    <label class="form-check-label" for="flexCheckSolidChecked">Checked checkbox</label>
                                </div>
                                <div class="form-check form-check-solid">
                                    <input class="form-check-input" id="flexCheckSolidDisabled" type="checkbox" value="" disabled />
                                    <label class="form-check-label" for="flexCheckSolidDisabled">Disabled checkbox</label>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="formsCheckboxesSolidTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="formsCheckboxesSolidHtmlTab" data-bs-toggle="tab" href="#formsCheckboxesSolidHtml" role="tab" aria-controls="formsCheckboxesSolidHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="formsCheckboxesSolidPugTab" data-bs-toggle="tab" href="#formsCheckboxesSolidPug" role="tab" aria-controls="formsCheckboxesSolidPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="formsCheckboxesSolidHtml" role="tabpanel" aria-labelledby="formsCheckboxesSolidHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><div class="form-check form-check-solid">
<input class="form-check-input" id="flexCheckSolidDefault" type="checkbox" value="">
<label class="form-check-label" for="flexCheckSolidDefault">Default checkbox</label>
</div>
<div class="form-check form-check-solid">
<input class="form-check-input" id="flexCheckSolidChecked" type="checkbox" value="" checked">
<label class="form-check-label" for="flexCheckSolidChecked">Checked checkbox</label>
</div>
<div class="form-check form-check-solid">
<input class="form-check-input" id="flexCheckSolidDisabled" type="checkbox" value="" disabled>
<label class="form-check-label" for="flexCheckSolidDisabled">Disabled checkbox</label>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="formsCheckboxesSolidPug" role="tabpanel" aria-labelledby="formsCheckboxesSolidPugTab">
                                        <pre class="language-pug"><code>.form-check.form-check-solid
input#flexCheckSolidDefault.form-check-input(type='checkbox', value='')
label.form-check-label(for='flexCheckSolidDefault')
| Default checkbox
.form-check.form-check-solid
input#flexCheckSolidChecked.form-check-input(type='checkbox', value='', checked)
label.form-check-label(for='flexCheckSolidChecked')
| Checked checkbox
.form-check.form-check-solid
input#flexCheckSolidDisabled.form-check-input(type='checkbox', value='', disabled)
label.form-check-label(for='flexCheckSolidDisabled')
| Disabled checkbox</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                The
                                <code>.custom-control-solid</code>
                                can be used with a
                                <code>.custom-control</code>
                                class to get a solid styling for custom checkboxes.
                            </div>
                        </div>
                        <h6 class="small text-muted fw-500">Custom Solid Radio:</h6>
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="form-check form-check-solid">
                                    <input class="form-check-input" id="flexRadioSolid1" type="radio" name="flexRadioSolid" />
                                    <label class="form-check-label" for="flexRadioSolid1">Default radio</label>
                                </div>
                                <div class="form-check form-check-solid">
                                    <input class="form-check-input" id="flexRadioSolid2" type="radio" name="flexRadioSolid" checked />
                                    <label class="form-check-label" for="flexRadioSolid2">Default checked radio</label>
                                </div>
                                <div class="form-check form-check-solid">
                                    <input class="form-check-input" id="flexRadioSolid3" type="radio" name="flexRadioSolid" disabled />
                                    <label class="form-check-label" for="flexRadioSolid3">Default disabled radio</label>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="formsRadioSolidTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="formsRadioSolidHtmlTab" data-bs-toggle="tab" href="#formsRadioSolidHtml" role="tab" aria-controls="formsRadioSolidHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="formsRadioSolidPugTab" data-bs-toggle="tab" href="#formsRadioSolidPug" role="tab" aria-controls="formsRadioSolidPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="formsRadioSolidHtml" role="tabpanel" aria-labelledby="formsRadioSolidHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><div class="form-check form-check-solid">
<input class="form-check-input" id="flexRadioSolid1" type="radio" name="flexRadioSolid">
<label class="form-check-label" for="flexRadioSolid1">Default radio</label>
</div>
<div class="form-check form-check-solid">
<input class="form-check-input" id="flexRadioSolid2" type="radio" name="flexRadioSolid" checked">
<label class="form-check-label" for="flexRadioSolid2">Default checked radio</label>
</div>
<div class="form-check form-check-solid">
<input class="form-check-input" id="flexRadioSolid3" type="radio" name="flexRadioSolid" disabled>
<label class="form-check-label" for="flexRadioSolid3">Default disabled radio</label>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="formsRadioSolidPug" role="tabpanel" aria-labelledby="formsRadioSolidPugTab">
                                        <pre class="language-pug"><code>.form-check.form-check-solid
input#flexRadioSolid1.form-check-input(type='radio', name='flexRadioSolid')
label.form-check-label(for='flexRadioSolid1')
| Default radio
.form-check.form-check-solid
input#flexRadioSolid2.form-check-input(type='radio', name='flexRadioSolid', checked)
label.form-check-label(for='flexRadioSolid2')
| Default checked radio
.form-check.form-check-solid
input#flexRadioSolid3.form-check-input(type='radio', name='flexRadioSolid', disabled)
label.form-check-label(for='flexRadioSolid3')
| Default disabled radio</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                The
                                <code>.custom-control-solid</code>
                                works with custom radios as well.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Joined Input Groups-->
            <div id="inputGroupJoined">
                <div class="card mb-4">
                    <div class="card-header">Joined Input Group</div>
                    <div class="card-body">
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <!-- Joined input group append example-->
                                <div class="input-group input-group-joined mb-4">
                                    <input class="form-control pe-0" type="text" placeholder="Input group append..." aria-label="Search" />
                                    <span class="input-group-text"><i data-feather="search"></i></span>
                                </div>
                                <!-- Joined input group prepend example-->
                                <div class="input-group input-group-joined mb-4">
                                    <span class="input-group-text"><i data-feather="search"></i></span>
                                    <input class="form-control ps-0" type="text" placeholder="Input group prepend..." aria-label="Search" />
                                </div>
                                <!-- Joined input group solid append example-->
                                <div class="input-group input-group-joined input-group-solid mb-4">
                                    <input class="form-control pe-0" type="text" placeholder="Input group append..." aria-label="Search" />
                                    <span class="input-group-text"><i data-feather="search"></i></span>
                                </div>
                                <!-- Joined input group solid prepend example-->
                                <div class="input-group input-group-joined input-group-solid">
                                    <span class="input-group-text"><i data-feather="search"></i></span>
                                    <input class="form-control ps-0" type="text" placeholder="Input group prepend..." aria-label="Search" />
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="inputGroupJoinedTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="inputGroupJoinedHtmlTab" data-bs-toggle="tab" href="#inputGroupJoinedHtml" role="tab" aria-controls="inputGroupJoinedHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="inputGroupJoinedPugTab" data-bs-toggle="tab" href="#inputGroupJoinedPug" role="tab" aria-controls="inputGroupJoinedPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="inputGroupJoinedHtml" role="tabpanel" aria-labelledby="inputGroupJoinedHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><!-- Joined input group append example-->
<div class="input-group input-group-joined">
<input class="form-control pe-0" type="text" placeholder="Input group append..." aria-label="Search">
<span class="input-group-text">
<i data-feather="search"></i>
</span>
</div>

<!-- Joined input group prepend example-->
<div class="input-group input-group-joined">
<span class="input-group-text">
<i data-feather="search"></i>
</span>
<input class="form-control ps-0" type="text" placeholder="Input group prepend..." aria-label="Search">
</div>

<!-- Joined input group solid append example-->
<div class="input-group input-group-joined input-group-solid">
<input class="form-control pe-0" type="text" placeholder="Input group append..." aria-label="Search">
<span class="input-group-text">
<i data-feather="search"></i>
</span>
</div>

<!-- Joined input group solid prepend example-->
<div class="input-group input-group-joined input-group-solid">
<span class="input-group-text">
<i data-feather="search"></i>
</span>
<input class="form-control ps-0" type="text" placeholder="Input group prepend..." aria-label="Search">
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="inputGroupJoinedPug" role="tabpanel" aria-labelledby="inputGroupJoinedPugTab">
                                        <pre class="language-pug"><code>// Joined input group append example
.input-group.input-group-joined
input.form-control.pe-0(type='text', placeholder='Input group append...', aria-label='Search')
span.input-group-text
i(data-feather='search')
// Joined input group prepend example
.input-group.input-group-joined
span.input-group-text
i(data-feather='search')
input.form-control.ps-0(type='text', placeholder='Input group prepend...', aria-label='Search')
// Joined input group solid append example
.input-group.input-group-joined.mb-4.input-group-solid
input.form-control.pe-0(type='text', placeholder='Input group append...', aria-label='Search')
span.input-group-text
i(data-feather='search')
// Joined input group solid prepend example
.input-group.input-group-joined.input-group-solid
span.input-group-text
i(data-feather='search')
input.form-control.ps-0(type='text', placeholder='Input group prepend...', aria-label='Search')</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                The joined input group uses the
                                <code>:focus-within</code>
                                CSS pseudo class to join input group appends and prepends within an input group. Unlike Bootstrap's default input group behavior, these joined input group variations will focus the entire input group when the form control within is selected. This variation also removes the background and border coloring of the append and prepend elements for a smooth, and seamless input group appearance.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Date Range Picker-->
            <div id="dateRangePicker">
                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Date Range Picker
                        <span class="badge bg-warning-soft text-warning">Plugin</span>
                    </div>
                    <div class="card-body">
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <!-- Date Range Picker Example-->
                                <div class="input-group input-group-joined" style="width: 16.5rem">
                                    <span class="input-group-text"><i data-feather="calendar"></i></span>
                                    <input class="form-control ps-0 pointer" id="litepickerRangePlugin" placeholder="Select date range..." />
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="dateRangePickerTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="dateRangePickerHtmlTab" data-bs-toggle="tab" href="#dateRangePickerHtml" role="tab" aria-controls="dateRangePickerHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="dateRangePickerPugTab" data-bs-toggle="tab" href="#dateRangePickerPug" role="tab" aria-controls="dateRangePickerPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="dateRangePickerHtml" role="tabpanel" aria-labelledby="dateRangePickerHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><!-- Date Range Picker Example-->
<div class="input-group input-group-joined" style="width: 16.5rem;">
<span class="input-group-text">
<i data-feather="calendar"></i>
</span>
<input class="form-control ps-0" id="litepickerRangePlugin" placeholder="Select date range..." />
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="dateRangePickerPug" role="tabpanel" aria-labelledby="dateRangePickerPugTab">
                                        <pre class="language-pug"><code>// Date Range Picker Example
.input-group.input-group-joined(style='width: 16.5rem;')
span.input-group-text
i(data-feather='calendar')
input.form-control.ps-0.pointer#litepickerRangePlugin(placeholder='Select date range...')</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                <p class="mb-0">
                                    This plugin is powered by a third party dependency called Litepicker. Visit the
                                    <a href="https://litepicker.com/">Litepicker documentation</a>
                                    for more information and usage examples.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bootstrap Docs Link-->
            <div class="card card-icon mb-4">
                <div class="row g-0">
                    <div class="col-auto card-icon-aside bg-secondary"><i class="me-1 text-white-50 fab fa-bootstrap"></i></div>
                    <div class="col">
                        <div class="card-body py-5">
                            <h5 class="card-title">Bootstrap Documentation Available</h5>
                            <p class="card-text">Forms are a default component included with the Bootstrap framework. For more information on implementing, modifying, and extending the usage of forms within your project, visit the official Bootstrap forms documentation page.</p>
                            <a class="btn btn-secondary btn-sm" href="https://getbootstrap.com/docs/4.4/components/forms/" target="_blank">
                                <i class="me-1" data-feather="external-link"></i>
                                Visit Bootstrap Forms Docs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sticky Navigation-->
        <div class="col-lg-3">
            <div class="nav-sticky">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav flex-column" id="stickyNav">
                            <li class="nav-item"><a class="nav-link" href="#default">Default Form Controls</a></li>
                            <li class="nav-item"><a class="nav-link" href="#solid">Solid Form Controls</a></li>
                            <li class="nav-item"><a class="nav-link" href="#checkbox">Default Checkboxes &amp; Radio</a></li>
                            <li class="nav-item"><a class="nav-link" href="#checkboxSolid">Solid Checkboxes &amp; Radio</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#inputGroupJoined">
                                    <div class="d-flex align-items-center justify-content-between">
                                        Input Groups
                                        <span class="badge bg-primary-soft text-primary">New</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#dateRangePicker">
                                    <div class="d-flex align-items-center justify-content-between">
                                        Date Range Picker
                                        <span class="badge bg-primary-soft text-primary">New</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>