<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="corner-right-down"></i></div>
                        Dropdowns
                    </h1>
                    <div class="page-header-subtitle">Extended dropdown components for organizing your menus and content</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-lg-9">
            <!-- Default Bootstrap Dropdown-->
            <div id="default">
                <div class="card mb-4">
                    <div class="card-header">Default Bootstrap Dropdown</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Button</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="dropdownDefaultTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="dropdownDefaultHtmlTab" data-bs-toggle="tab" href="#dropdownDefaultHtml" role="tab" aria-controls="dropdownDefaultHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="dropdownDefaultPugTab" data-bs-toggle="tab" href="#dropdownDefaultPug" role="tab" aria-controls="dropdownDefaultPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="dropdownDefaultHtml" role="tabpanel" aria-labelledby="dropdownDefaultHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><div class="dropdown">
<button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Button</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="#!">Action</a>
<a class="dropdown-item" href="#!">Another action</a>
<a class="dropdown-item" href="#!">Something else here</a>
</div>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="dropdownDefaultPug" role="tabpanel" aria-labelledby="dropdownDefaultPugTab">
                                        <pre class="language-pug"><code>.dropdown
button#dropdownMenuButton.btn.btn-primary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
| Dropdown Button
.dropdown-menu(aria-labelledby='dropdownMenuButton')
a.dropdown-item(href='#!') Action
a.dropdown-item(href='#!') Another action
a.dropdown-item(href='#!') Something else here</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">The default Bootstrap dropdown has been extended and modified within the Simple UX theme. Click on the dropdown button above to see a demo.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dropdown Menu Icons-->
            <div id="icons">
                <div class="card mb-4">
                    <div class="card-header">Menu Item Icons</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="sbp-dropdown-example">
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#!">
                                            <div class="dropdown-item-icon"><i data-feather="user"></i></div>
                                            Profile
                                        </a>
                                        <a class="dropdown-item" href="#!">
                                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                                            Settings
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">
                                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="dropdownIconsTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="dropdownIconsHtmlTab" data-bs-toggle="tab" href="#dropdownIconsHtml" role="tab" aria-controls="dropdownIconsHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="dropdownIconsPugTab" data-bs-toggle="tab" href="#dropdownIconsPug" role="tab" aria-controls="dropdownIconsPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="dropdownIconsHtml" role="tabpanel" aria-labelledby="dropdownIconsHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><div class="dropdown-menu">
<a class="dropdown-item" href="#!">
<div class="dropdown-item-icon">
<i data-feather="user"></i>
</div>
Profile
</a><a class="dropdown-item" href="#!">
<div class="dropdown-item-icon">
<i data-feather="settings"></i>
</div>
Settings
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#!">
<div class="dropdown-item-icon">
<i data-feather="log-out"></i>
</div>
Logout
</a>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="dropdownIconsPug" role="tabpanel" aria-labelledby="dropdownIconsPugTab">
                                        <pre class="language-pug"><code>.dropdown-menu
a.dropdown-item(href='#!')
.dropdown-item-icon
i(data-feather='user')
| Profile
a.dropdown-item(href='#!')
.dropdown-item-icon
i(data-feather='settings')
| Settings
.dropdown-divider
a.dropdown-item(href='#!')
.dropdown-item-icon
i(data-feather='log-out')
| Logout</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                Use the
                                <code>.dropdown-item-icon</code>
                                wrapper around any icon within any
                                <code>.dropdown-item</code>
                                to see a pre-styled icon to accompany the dropdown item content.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animated Dropdown Menus-->
            <div id="animated">
                <div class="card mb-4">
                    <div class="card-header">Animated Dropdown Menu</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="d-flex flex-column flex-sm-row">
                                    <div class="dropdown me-2 mb-4 mb-sm-0">
                                        <button class="btn btn-primary dropdown-toggle" id="dropdownNoAnimation" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">No Animation</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownNoAnimation">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown me-2 mb-4 mb-sm-0">
                                        <button class="btn btn-secondary dropdown-toggle" id="dropdownFadeIn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fade In</button>
                                        <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownFadeIn">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-teal dropdown-toggle" id="dropdownFadeInUp" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fade In Up</button>
                                        <div class="dropdown-menu animated--fade-in-up" aria-labelledby="dropdownFadeInUp">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="dropdownsAnimatedTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="dropdownsAnimatedHtmlTab" data-bs-toggle="tab" href="#dropdownsAnimatedHtml" role="tab" aria-controls="dropdownsAnimatedHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="dropdownsAnimatedPugTab" data-bs-toggle="tab" href="#dropdownsAnimatedPug" role="tab" aria-controls="dropdownsAnimatedPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="dropdownsAnimatedHtml" role="tabpanel" aria-labelledby="dropdownsAnimatedHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><!-- Default Behavior -->
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" id="dropdownNoAnimation" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">No Animation</button>
<div class="dropdown-menu" aria-labelledby="dropdownNoAnimation">
<a class="dropdown-item" href="#!">Action</a>
<a class="dropdown-item" href="#!">Another action</a>
<a class="dropdown-item" href="#!">Something else here</a>
</div>
</div>

<!-- Fade In Animation -->
<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" id="dropdownFadeIn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fade In</button>
<div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownFadeIn">
<a class="dropdown-item" href="#!">Action</a>
<a class="dropdown-item" href="#!">Another action</a>
<a class="dropdown-item" href="#!">Something else here</a>
</div>
</div>

<!-- Fade In Up Animation -->
<div class="dropdown">
<button class="btn btn-teal dropdown-toggle" id="dropdownFadeInUp" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fade In Up</button>
<div class="dropdown-menu animated--fade-in-up" aria-labelledby="dropdownFadeInUp">
<a class="dropdown-item" href="#!">Action</a>
<a class="dropdown-item" href="#!">Another action</a>
<a class="dropdown-item" href="#!">Something else here</a>
</div>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="dropdownsAnimatedPug" role="tabpanel" aria-labelledby="dropdownsAnimatedPugTab">
                                        <pre class="language-pug"><code>//- Default Behavior
.dropdown
button#dropdownNoAnimation.btn.btn-primary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
| No Animation
.dropdown-menu(aria-labelledby='dropdownNoAnimation')
a.dropdown-item(href='#!') Action
a.dropdown-item(href='#!') Another action
a.dropdown-item(href='#!') Something else here

//- Fade In Animation
.dropdown
button#dropdownFadeIn.btn.btn-secondary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
| Fade In
.dropdown-menu.animated--fade-in(aria-labelledby='dropdownFadeIn')
a.dropdown-item(href='#!') Action
a.dropdown-item(href='#!') Another action
a.dropdown-item(href='#!') Something else here

//- Fade In Up Animation
.dropdown
button#dropdownFadeInUp.btn.btn-teal.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
| Fade In Up
.dropdown-menu.animated--fade-in-up(aria-labelledby='dropdownFadeInUp')
a.dropdown-item(href='#!') Action
a.dropdown-item(href='#!') Another action
a.dropdown-item(href='#!') Something else here</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                The
                                <code>.animated--fade-in</code>
                                and
                                <code>.animted--fade-in-up</code>
                                utility classes can be used in order to add animations to any dropdown menu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notification Dropdown-->
            <div id="notifications">
                <div class="card mb-4">
                    <div class="card-header">Custom Notification Dropdown</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="sbp-dropdown-example">
                                    <div class="dropdown-notifications">
                                        <div class="dropdown-menu dropdown-menu-end border-0 shadow" aria-labelledby="navbarDropdownAlerts">
                                            <h6 class="dropdown-header dropdown-notifications-header">
                                                <i class="me-2" data-feather="bell"></i>
                                                Dropdown Header
                                            </h6>
                                            <!-- Example Item 1-->
                                            <a class="dropdown-item dropdown-notifications-item" href="#!">
                                                <div class="dropdown-notifications-item-icon bg-warning"><i data-feather="activity"></i></div>
                                                <div class="dropdown-notifications-item-content">
                                                    <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                    <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                </div>
                                            </a>
                                            <!-- Example Item 2-->
                                            <a class="dropdown-item dropdown-notifications-item" href="#!">
                                                <div class="dropdown-notifications-item-icon bg-info"><i data-feather="bar-chart"></i></div>
                                                <div class="dropdown-notifications-item-content">
                                                    <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                    <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                </div>
                                            </a>
                                            <!-- Example Item 3-->
                                            <a class="dropdown-item dropdown-notifications-item" href="#!">
                                                <div class="dropdown-notifications-item-icon bg-danger"><i class="fas fa-exclamation-triangle"></i></div>
                                                <div class="dropdown-notifications-item-content">
                                                    <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                    <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                </div>
                                            </a>
                                            <!-- Example Item 4-->
                                            <a class="dropdown-item dropdown-notifications-item" href="#!">
                                                <div class="dropdown-notifications-item-icon bg-success"><i data-feather="user-plus"></i></div>
                                                <div class="dropdown-notifications-item-content">
                                                    <div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
                                                    <div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item dropdown-notifications-footer" href="#!">Dropdown Footer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="dropdownNotificationsTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="dropdownNotificationsHtmlTab" data-bs-toggle="tab" href="#dropdownNotificationsHtml" role="tab" aria-controls="dropdownNotificationsHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="dropdownNotificationsPugTab" data-bs-toggle="tab" href="#dropdownNotificationsPug" role="tab" aria-controls="dropdownNotificationsPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="dropdownNotificationsHtml" role="tabpanel" aria-labelledby="dropdownNotificationsHtmlTab">
                                        <pre class="language-markup"><code><script type="text/plain"><div class="dropdown-notifications">
<div class="dropdown-menu dropdown-menu-right border-0 shadow" aria-labelledby="navbarDropdownAlerts">
<h6 class="dropdown-header dropdown-notifications-header">
<i data-feather="bell"></i>
Dropdown Header
</h6>
<!-- Example Item 1-->
<a class="dropdown-item dropdown-notifications-item" href="#!">
<div class="dropdown-notifications-item-icon bg-warning"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
<polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg></div>
<div class="dropdown-notifications-item-content">
<div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
<div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
</div>
</a>
<!-- Example Item 2-->
<a class="dropdown-item dropdown-notifications-item" href="#!">
<div class="dropdown-notifications-item-icon bg-info">
<i data-feather="bar-chart"></i>
</div>
<div class="dropdown-notifications-item-content">
<div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
<div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
</div>
</a>
<!-- Example Item 3-->
<a class="dropdown-item dropdown-notifications-item" href="#!">
<div class="dropdown-notifications-item-icon bg-danger">
<i class="fas fa-exclamation-triangle"></i>
</div>
<div class="dropdown-notifications-item-content">
<div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
<div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
</div>
</a>
<!-- Example Item 4-->
<a class="dropdown-item dropdown-notifications-item" href="#!">
<div class="dropdown-notifications-item-icon bg-success">
<i data-feather="user-plus"></i>
</div>
<div class="dropdown-notifications-item-content">
<div class="dropdown-notifications-item-content-details">Dropdown Item Details</div>
<div class="dropdown-notifications-item-content-text">This is the dropdown item text. It will truncate after a fixed width.</div>
</div>
</a>
<a class="dropdown-item dropdown-notifications-footer" href="#!">Dropdown Footer</a>
</div>
</div></script></code></pre>
                                    </div>
                                    <div class="tab-pane" id="dropdownNotificationsPug" role="tabpanel" aria-labelledby="dropdownNotificationsPugTab">
                                        <pre class="language-pug"><code>.dropdown-notifications
.dropdown-menu.dropdown-menu-end.border-0.shadow(aria-labelledby='navbarDropdownAlerts')
h6.dropdown-header.dropdown-notifications-header
i.me-2(data-feather='bell')
| Dropdown Header
// Example Item 1
a.dropdown-item.dropdown-notifications-item(href='#!')
.dropdown-notifications-item-icon.bg-warning
i(data-feather='activity')
.dropdown-notifications-item-content
.dropdown-notifications-item-content-details
| Dropdown Item Details
.dropdown-notifications-item-content-text
| This is the dropdown item text. It will truncate after a fixed width.
// Example Item 2
a.dropdown-item.dropdown-notifications-item(href='#!')
.dropdown-notifications-item-icon.bg-info
i(data-feather='bar-chart')
.dropdown-notifications-item-content
.dropdown-notifications-item-content-details
| Dropdown Item Details
.dropdown-notifications-item-content-text
| This is the dropdown item text. It will truncate after a fixed width.
// Example Item 3
a.dropdown-item.dropdown-notifications-item(href='#!')
.dropdown-notifications-item-icon.bg-danger
i.fas.fa-exclamation-triangle
.dropdown-notifications-item-content
.dropdown-notifications-item-content-details
| Dropdown Item Details
.dropdown-notifications-item-content-text
| This is the dropdown item text. It will truncate after a fixed width.
// Example Item 4
a.dropdown-item.dropdown-notifications-item(href='#!')
div.dropdown-notifications-item-icon.bg-success
i(data-feather='user-plus')
div.dropdown-notifications-item-content
div.dropdown-notifications-item-content-details
| Dropdown Item Details
div.dropdown-notifications-item-content-text
| This is the dropdown item text. It will truncate after a fixed width.
a.dropdown-item.dropdown-notifications-footer(href='#!') Dropdown Footer</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                <p>The notifications dropdown is a custom component built into Simple UX. You can see two examples of the component in action on the topnav when you click on the alerts and message center icons.</p>
                                <p>A max height is set to the dropdown itself, which enables a custom scrollbar if the content within the dropdown exceeds a certain height.</p>
                                <p class="mb-0">This component is well suited for dropdowns that contain large amounts of content that you wish to display in a flush format. The icons are replacable with images, or you can remove them.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bootstrap Docs Link-->
            <div class="card card-icon mb-4">
                <div class="row g-0">
                    <div class="col-auto card-icon-aside bg-secondary"><i class="me-1 text-white-50 fab fa-bootstrap"></i></div>
                    <div class="col">
                        <div class="card-body py-5">
                            <h5 class="card-title">Bootstrap Documentation Available</h5>
                            <p class="card-text">Dropdowns are a default component included with the Bootstrap framework. For more information on implementing, modifying, and extending the usage of dropdowns within your project, visit the official Bootstrap dropdowns documentation page.</p>
                            <a class="btn btn-secondary btn-sm" href="https://getbootstrap.com/docs/4.4/components/dropdowns/" target="_blank">
                                <i class="me-1" data-feather="external-link"></i>
                                Visit Bootstrap Dropdowns Docs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sticky Navigation-->
        <div class="col-lg-3">
            <div class="nav-sticky">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav flex-column" id="stickyNav">
                            <li class="nav-item"><a class="nav-link" href="#default">Default</a></li>
                            <li class="nav-item"><a class="nav-link" href="#icons">Icons</a></li>
                            <li class="nav-item"><a class="nav-link" href="#animated">Animated</a></li>
                            <li class="nav-item"><a class="nav-link" href="#notifications">Notifications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>